.profile__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__icon {
  width: min(100%, (46rem / 1.25));
  display: flex;
  justify-content: flex-end;
}

.profile__icon>div {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1;
}

.profile__icon svg {
  position: absolute;
  inset: 0;
  display: block;
}

.profile__icon svg:first-child {
  z-index: 1;
}

.profile__icon svg:last-child {
  display: none;
}

.profile__img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
  border-radius: 50%;
  overflow: hidden;
}
.profile__img-div img {
  margin: auto;
  width: 5.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

#profile__name {
  margin: 1.5rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .profile__icon svg:first-child {
    display: none;
  }
  
  .profile__icon svg:last-child {
    display: block;
    z-index: 1;
  }
}