
.links__control {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.links__control li {
  text-align: center;
}

.links__control a {
  padding: 1.5rem 0;
  border-radius: 8px;
  background-color: var(--link-color);
  font-size: 0.875rem;
}